.destination-container{
    background: url('../../assets/destination/background-destination-desktop.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
    box-sizing: border-box;
}

.destination-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.destination-content > div{
    width: 450px;

}
.page-title{
    color: rgb(255, 255, 255);
    font-size: 28px;
    letter-spacing: 4.72px;
    margin-bottom: 60px;
    margin-left: 8%;
}

.page-title span{
    color: #979797;
    font-weight: 700;
    margin-right: 10px;

}


.destination-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 285px;
    justify-content: space-between;
    height: 34px;

}

.destination-item{
    position: relative;
    cursor: pointer;
}

.destination-item a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.destination-item-text{
    height: 100%;
    width: 100%;
    color: #979797;
    transition: .5s;
}

.destination-item-text.active{
    color: rgb(255, 255, 255);
}
.destination-rectangle{
    background-color: transparent;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    transition: .4s;
}

.destination-rectangle.active{
    background-color: rgb(255, 255, 255);

}

.destination-item:hover > .destination-rectangle.inactive{
    background-color: #979797;

}

.destination-name{
    font-family: Bellefair;
    font-size: 100px;
    margin-top: 30px;

}

.destination-description{
    font-family: Barlow Condensed;
    font-size: 18px;
    font-weight: 300;
    color: #D0D6F9;
    margin: 0;
    height: 150px;
    box-sizing: border-box;
    width: 444px;
    line-height: 32px;
    border-bottom: 1px solid #383B4B;
}

.destination-data{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-top: 25px;
}

.destination-data-title{
    font-family: Barlow Condensed;
    font-size: 14px;
    color: #D0D6F9;
    letter-spacing: 2.36px;
    margin-bottom: 10px;
}

.destination-data-number{
    font-family: Bellefair;
    font-size: 28px;
}

.destination-data-distance{
    margin-right: 0px;
}

.destination-data > div{
    width: 200px;
}


@media (max-width: 870px) {
    .destination-container{
        background: url('../../assets/destination/background-destination-tablet.jpg');
        background-size: cover;
        padding-top: 120px;
    }
    .page-title{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .destination-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-content img{
        width: 250px;
    }
    .destination-content > div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .destination-list{
        margin-top: 20px;
        width: 250px;
    }
    .destination-name{
        margin-top: 10px;
    }
    .destination-description{
        font-size: 16px;
        line-height: 28px;
        width: 115%;
        text-align: center;
        height: 110px;
    }
    .destination-data{
        align-items: center;
        justify-content: center;
    }
    .destination-data > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}