
.navbar{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 96px;
    width: 100vw;
    top: 40px;
    font-family: Barlow Condensed; /* Bellefair */
    font-size: 16px;
    letter-spacing: 2.7px;
    z-index: 999;
}

.burger-logo{
    display: none;
}

.navbar-logo{
    margin-left: 40px;
    height: 48px;
}

.navbar-line{
    height: 1px;
    width: 35%;
    background-color: #979797;
    margin-left: 60px;
    z-index: 999;
}

.navbar-list{
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    width: 57%;
    height: 100%;
    justify-content: space-evenly;
    position: absolute;
    right: 0px;
}

.navbar-item{
    position: relative;
}

.navbar-list li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar-item-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 96px;

    
}

.navbar-item-number{
    font-weight: 700;
    margin-right: 10px;
}

.navbar-active-rectangle{
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    z-index: 10;
}

.navbar-hover-rectangle{
    background-color: transparent;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    transition: .4s;
}

 .navbar-item:hover > .navbar-hover-rectangle{
    background-color: #979797;

}

.burger-icon,.close-icon{
    display: none;
}

@media (max-width: 870px) {
    .navbar{
        top: 0;
        height: 80px;
    }

    .navbar-line{
        display: none;
    }
    .navbar-logo img{
        height: 40px;
        width: 40px;
    }
    .navbar-item-text{
        height: 80px;
            
    }
    .navbar-item-text span{
        display: none;
    }
    .navbar-list{
        background-color: rgba(151, 151, 151, 0.2);
        backdrop-filter: none;
    }

    
}

@media (max-width: 410px) {

    .burger-icon,.close-icon{
        display: inherit;
    }

    .navbar{
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 30px;
        box-sizing: border-box;
        width: 100vw;
    }
    .navbar-logo{
        margin: 0;
        margin-top: 30px;
        height: 40px;
    }

    .burger-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 999px;
        margin-top: 35px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .navbar-hover-rectangle{
        display: none;
    }

    .navbar-active-rectangle{
        width: 4px;
        height: 100%;
        right: 0;
    }
    


    .navbar-list{
        position: absolute;
        flex-direction: column;
        top: 0px;
        height: 100vh;
        align-items: end;
        justify-content: start;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(70px);
        transition: .4s ease-in-out;
    }
    .navbar-list.false{
        right: -273px;
    }

    .navbar-item{
        width: 100%;
        margin-bottom: 20px;
    }

    .close-icon{
        background-color: transparent;
        border: none;
        margin-bottom: 80px;
        padding-top: 30px;
        padding-right: 35px;

    }
    .close-icon img{
        height: 30px;
        cursor: pointer;
    }

}