.crew-container{
    background: url('../../assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
    box-sizing: border-box;
}

.crew-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.crew-content > div{
    width: 500px;
}



.memember-charge{
    font-size: 32px;
    font-family: Bellefair;
    opacity: .542;
    font-weight: 300;
}

.member-name{
    font-size: 56px;
    font-family: Bellefair;
    color: rgb(255, 255, 255);
    font-weight: 300;

}

.memember-description{
    font-family: Barlow condensed;
    font-size: 18px;
    color: #D0D6F9;
}

.members-circles{
    display: flex;
    flex-direction: row;
    width: 132px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 120px;
    position: absolute;
    bottom: 120px;
}

.member-circle{
    background-color: white;
    opacity: .1744;
    border-radius: 999px;
    width: 15px;
    height: 15px;
    transition: .3s;
}
.member-circle:hover{
    opacity: .5;
}


.member-circle.active{
    opacity: 1;

}


.member-picture img{
    position: absolute;
    bottom: 0;
    width: auto;
    max-height: 600px;
}
