
.home-container{
    background: url('./assets/background-home-desktop.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    align-items: end;
    box-sizing: border-box;
    padding: 6% 0;
    position: relative;
}

a{
    text-decoration: none;
}

.home-container > div{
    width: 382px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.home-left-content h2{
    font-family: Barlow Condensed;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 4.75px;
    color: #D0D6F9;

}

.home-left-content h1{
    font-family: Bellefair;
    font-size: 150px;
    font-weight: 500;
    margin: 0;
}

.home-left-content p{
    font-family: Barlow Condensed;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    text-align: justify;
}

.explore-container{
    width: 274px;
    height: 274px;
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
    font-family: Bellefair;
    font-size: 32px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    cursor: pointer;

}

.explore-container > div{
    background-color: white;
    width: 274px;
    height: 274px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.explore-container:hover{
    width: 420px;
    height: 420px;
    background-color: rgba(255, 255, 255, .2);
}


@media (max-width: 870px) {
    .home-container{
        background: url('./assets/background-home-tablet.jpg');
        font-family: Barlow;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
        height: 100vh;
        align-items: center;
        box-sizing: border-box;
        padding-top: 80px;
        position: relative;
        padding-top: 167px;
    }

    .explore-container > div, .explore-container{
        width: 200px;
        height: 200px;
    
    }
    .home-container > div{
        width: 368px;

    }
    .explore-container:hover{
        width: 300px;
        height: 300px;

    }
    .home-left-content h2{
        font-size: 16px;
    }
    .home-left-content h1{
        font-size: 125px;
    }
    .home-left-content p{
        font-size: 18px;
    }
  }

@media (max-width: 410px) {
    .home-container{
        padding-top: 120px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .home-container > div{
        width: auto;
    }
    .home-left-content h2{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .home-left-content h1{
        font-size: 80px;
        line-height: 100px;
    }
    .home-left-content p{
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }

}