.tech-container{
    background: url('./assets/background-technology-desktop.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
    box-sizing: border-box;
}

.tech-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-start;
}

.tech-left-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.tech-circles{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.tech-circle{
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 999px;
    border: 1px solid white;
    font-family: Bellefair;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 32px;
    padding-left: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.tech-circle:hover{
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .2);
    
}
.tech-circles a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tech-circle.active{
    background-color: rgb(255, 255, 255);
    color: #0B0D17;

}

.tech-text{
    width: 59%;
}

.tech-text h3{
    font-family: Barlow Condensed;
    font-size: 16px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 15px;

}

.tech-text h2{
    font-family: Bellefair;
    font-size: 56px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 17px;
}

.tech-text p{
    font-family: Barlow;
    font-size: 18px;
    color: #D0D6F9;
    font-weight: 300;
    line-height: 32px;
}

.tech-picture img{
    height: 500px;
}


@media (max-width: 870px) {
    .body{
        overflow: hidden;
    }
    .tech-container{
        background: url('./assets/background-technology-tablet.jpg');
        backdrop-filter: blur(20px);
        background-size: cover;
        padding-top: 120px;
    }
    
    .page-title{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .tech-content{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .tech-right-content{
        width: 100%;
    }
    .tech-picture{
        box-sizing: border-box;
        height: auto;
    }
    .tech-picture img{
        width: 100%;
        height: auto;
    }
    .planet-image{
        height: 263px;
    }

    .tech-left-content{
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tech-circles{
        flex-direction: row;
        margin: 0;
        width: 190px;
        margin-top: 10px;
    }
    .tech-circle{
        height: 50px;
        width: 50px;
    }
    .tech-text{
        text-align: center;
    }
    .tech-text h3{
        font-size: 16px;
    }
    .tech-text h2{
        font-size: 40px;
    }
    .tech-text p{
        font-family: Barlow;
        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width: 410px) {
    .tech-container{
        background: url('./assets/background-crew-mobile.jpg');
        justify-content: center;
        align-items: center;
        padding-top: 90px;
        background-size: cover;
    }
    .tech-container > div{
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .page-title{
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
        font-size: 16px !important;
    }
    .tech-circles{
        margin-top: 20px;
    }
    .tech-text{
        width: 84%;
    }
    .tech-text h2{
        font-size: 28px;
    }
}